<div class="view-container login-page" ng-controller="RegisterController as model">
    <div class="container-fluid">
        <div class="row">
            <form name="registerForm" novalidate class="col-sm-6">
                <h3>Select Your Payment Option</h3>

                <div class="form-group">
                    <label for="first-name">First Name
                        <span class="form-text text-muted" ng-show="model.language !== 'eng'">
                            ({{model.getLabel("firstName")}})
                        </span>
                    </label>
                    <div class="input-group">
                        <input ng-model="user.firstName" type="text"
                               class="form-control" id="first-name" name="first-name"
                               placeholder="First Name"/>
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button" audio-player="">
                                <i class="fa fa-play" aria-hidden="true"></i>
                                    <audio src="{{model.getAudioURL('fn')}}" type='audio/mpeg'>
                                        Your browser does not support the audio tag.
                                    </audio>
                            </button>
                        </span>

                      <div class="btn-group left-margin" role="group" aria-label="Basic example">
                        <button type="button" tool-tip="" class="btn btn-secondary left-margin"
                                data-toggle="tooltip" data-placement="right"
                                title="Enter your first name as it appears on your policy" data-html="true">
                          <i class="fa fa-info-circle" aria-hidden="true"></i>
                        </button>
                        <button ng-show="model.language !== 'eng'" type="button" tool-tip="" class="btn btn-secondary left-margin"
                                data-toggle="tooltip" data-placement="right"
                                title="Introduzca su nombre tal y como aparece en su póliza" data-html="true">
                          <i class="fa fa-language" aria-hidden="true"></i>
                        </button>
                      </div>
                    </div>
                    <!--<small id="passwordHelpBlock" class="form-text text-muted">-->
                    <!--</small>-->
                </div>

                <div class="form-group">
                    <label for="last-name">Last Name
                        <span class="form-text text-muted" ng-show="model.language !== 'eng'">
                            ({{model.getLabel("lastName")}})
                        </span>
                    </label>
                    <div class="input-group">
                        <input ng-model="user.lastName" type="email"
                               class="form-control" id="last-name" name="last-name"
                               placeholder="Last Name" required/>
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button" audio-player="">
                                <i class="fa fa-play" aria-hidden="true"></i>
                                    <audio src="{{model.getAudioURL('ln')}}" type='audio/mpeg'>
                                        Your browser does not support the audio tag.
                                    </audio>
                            </button>
                        </span>
                      <div class="btn-group left-margin" role="group" aria-label="Basic example">
                        <button type="button" tool-tip="" class="btn btn-secondary left-margin"
                                data-toggle="tooltip" data-placement="right"
                                title="Enter your last name as it appears on your policy" data-html="true">
                          <i class="fa fa-info-circle" aria-hidden="true"></i>
                        </button>
                        <button ng-if="model.language !== 'eng'" type="button" tool-tip="" class="btn btn-secondary left-margin"
                                data-toggle="tooltip" data-placement="right"
                                title="Ingrese su apellido tal como aparece en su póliza" data-html="true">
                          <i class="fa fa-language" aria-hidden="true"></i>
                        </button>
                      </div>
                    </div>
                    <!--<small id="passwordHelpBlock" class="form-text text-muted">-->
                    <!--</small>-->
                </div>

                <div class="form-group">
                    <label for="last-name">Relationship to PolicyOwner
                        <span class="form-text text-muted" ng-show="model.language !== 'eng'">
                            ({{model.getLabel("rel")}})
                        </span>
                    </label>
                    <div class="input-group">
                        <select ng-model="model.language" class="form-control"
                                id="langauge" name="language">
                            <option value="admin">Administrator</option>
                            <option value="cousin">Cousin</option>
                            <option value="grandparent">Grandparent</option>
                        </select>
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button" audio-player="">
                                <i class="fa fa-play" aria-hidden="true"></i>
                                    <audio src="{{model.getAudioURL('rel')}}" type='audio/mpeg'>
                                        Your browser does not support the audio tag.
                                    </audio>
                            </button>
                        </span>
                      <div class="btn-group left-margin" role="group" aria-label="Basic example">
                        <button type="button" tool-tip="" class="btn btn-secondary left-margin"
                                data-toggle="tooltip" data-placement="right"
                                title="Mention your relationship to the policyOwner" data-html="true">
                          <i class="fa fa-info-circle" aria-hidden="true"></i>
                        </button>
                        <button ng-show="model.language !== 'eng'" ype="button" tool-tip="" class="btn btn-secondary left-margin"
                                data-toggle="tooltip" data-placement="right"
                                title="Mencione su relación con el policyOwner" data-html="true">
                          <i class="fa fa-language" aria-hidden="true"></i>
                        </button>
                      </div>
                    </div>
                    <!--<small id="passwordHelpBlock" class="form-text text-muted">-->
                    <!--</small>-->
                </div>

                <div class="form-group">
                    <label for="last-name">Company Name
                        <span class="form-text text-muted" ng-show="model.language !== 'eng'">
                            ({{model.getLabel("companyName")}})
                        </span>
                    </label>
                    <div class="input-group">
                        <input ng-model="user.companyName" type="text"
                               class="form-control" id="company-name" name="company-name"
                               placeholder="Company Name"/>
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button" audio-player="">
                                <i class="fa fa-play" aria-hidden="true"></i>
                                    <audio src="{{model.getAudioURL('rel')}}" type='audio/mpeg'>
                                        Your browser does not support the audio tag.
                                    </audio>
                            </button>
                        </span>
                      <div class="btn-group left-margin" role="group" aria-label="Basic example">
                        <button type="button" tool-tip="" class="btn btn-secondary left-margin"
                                data-toggle="tooltip" data-placement="right"
                                title="Enter the company you work for" data-html="true">
                          <i class="fa fa-info-circle" aria-hidden="true"></i>
                        </button>
                        <button ng-show="model.language !== 'eng'" type="button" tool-tip="" class="btn btn-secondary left-margin"
                                data-toggle="tooltip" data-placement="right"
                                title="Introduzca la empresa para la que trabaja" data-html="true">
                          <i class="fa fa-language" aria-hidden="true"></i>
                        </button>
                      </div>
                    </div>
                    <!--<small id="passwordHelpBlock" class="form-text text-muted">-->
                    <!--</small>-->
                </div>


                <div class="form-group">
                    <label for="ssn">Social Security Number
                        <span class="form-text text-muted" ng-show="model.language !== 'eng'">
                            ({{model.getLabel("ssn")}})
                        </span>
                    </label>
                    <div class="input-group">
                        <input ng-model="user.ssn" type="text"
                               class="form-control" id="ssn" name="ssn"
                               placeholder="SSN"/>
                        <span class="input-group-btn">
                                <button class="btn btn-secondary" audio-player="" type="button">
                                    <i class="fa fa-play" aria-hidden="true"></i>
                                    <audio id="englishFN"
                                           src="{{model.getAudioURL('rel')}}" type='audio/mpeg'>
                                        Your browser does not support the audio tag.
                                    </audio>
                                </button>
                            </span>
                      <div class="btn-group left-margin" role="group" aria-label="Basic example">
                        <button type="button" tool-tip="" class="btn btn-secondary left-margin"
                                data-toggle="tooltip" data-placement="right"
                                title="Enter your 10-digit Social Security Number" data-html="true">
                          <i class="fa fa-info-circle" aria-hidden="true"></i>
                        </button>
                        <button ng-show="model.language !== 'eng'" type="button" tool-tip="" class="btn btn-secondary left-margin"
                                data-toggle="tooltip" data-placement="right"
                                title="Ingrese su Número de Seguro Social de 10 dígitos" data-html="true">
                          <i class="fa fa-language" aria-hidden="true"></i>
                        </button>
                      </div>
                    </div>
                    <!--<small id="passwordHelpBlock" class="form-text text-muted">-->
                    <!--</small>-->
                </div>

                <div ng-show="model.error" class="alert alert-danger" role="alert">
                    {{model.error}}
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-block btn-primary"
                            ng-click="registerForm.$valid && model.register(user)">
                        {{model.buttonText()}}
                    </button>
                </div>
                <div class="form-group">
                    <a class="btn btn-block btn-danger" href="#/login">
                        Cancel
                    </a>
                </div>
            </form>
        </div>

    </div>
</div>
